<h2>Hello (text interpolation)</h2>
<app-hello></app-hello>

<h2>Filter (property binding)</h2>
<app-filter></app-filter>

<h2>Counter (event binding)</h2>
<app-counter></app-counter>

<h2>UserForm ($event, anycast $any)</h2>
<app-user-form></app-user-form>

<h2>Exercices</h2>
<app-ex-helloworld></app-ex-helloworld>
<app-ex-multi-state-button></app-ex-multi-state-button>

<h2>ShowColor (attributes directives + *ngIf)</h2>
<app-show-color></app-show-color>

<h2>ButtonGroup (attributes directives + *ngFor)</h2>
<app-button-group></app-button-group>

<h2>Todos (TP)</h2>
<app-ex-todos></app-ex-todos>
