<div>
  <label>Name:</label>
  <input type="text" [value]="yourName" (input)="yourName = $any($event.target).value">
  <hr>
  <h1>Hello {{ yourName }}!</h1>
</div>

<!--
  Exercice 1 :
  Créer un propriété yourName dans la classe TS avec une valeur par défaut
  Utiliser text interpolation pour afficher cette valeur dans la balise input
  et à la place du texte LE_NOM_A_AFFICHER
  Ecouter l'événement input de la balise input pour mettre à jour yourName
  lorsque quelqu'un saisi dans le champ
  L'UI va raffraichir toute seule
-->
